@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --primary-color: #b8c023;
  --main-bg-color: whitesmoke;
  --secondary-bg-color: #333;
}

#root {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #111;
}

/* scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body {
  position: relative;
  font-family: 'Poppins',
    sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
}

/* Navbar */

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 0.5rem 0;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.2);
}

.navbar .container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .navbar .branding img {
  height: 65px;
  width: auto;
  filter: brightness(1.25);
} */

.navbar .branding h3 {
  color: white;
}

.navbar .branding h3 span {
  color: var(--primary-color);
}

.navbar nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex-wrap: wrap;
  flex-flow: wrap;
}

.navbar nav ul li {
  padding: 5px 20px;
}

.navbar nav ul a {
  transition: all 500ms;
  color: white;
}

.navbar nav ul a:hover {
  color: var(--primary-color);
}

.navbar nav ul li {
  transition: all 500ms;
}

.navbar nav ul li:hover {
  transform: scale(1.1);
}

.navbar .smallNavbar {
  background-color: var(--main-bg-color);
  position: relative;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0);
}

.navbar .smallNavbar .toggleNavbar {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms;
  background-color: rgba(0, 0, 0, 0);
}

.navbar .smallNavbar .toggleNavbar:hover {
  color: var(--primary-color)
}

.navbar .smallNavbar div {
  background-color: var(--main-bg-color);
  position: absolute;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 200px;
  border-radius: 10%;
  width: 200px;
  top: 50px;
  right: 0px;
  font-size: 1rem;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.5);
}

.navbar .smallNavbar div ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar .smallNavbar div ul li {
  padding: 1rem 0.5rem;
  width: 200px;
  border-radius: 10px;
  transition: all 500ms;
  cursor: pointer;
  color: black;
}

.navbar .smallNavbar div ul li:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

.navbar .smallNavbar div ul li a {
  width: 200px;
  background-color: red;
  color: black;
}

/* Showcase */
#showcase-section {
  position: relative;
  height: 100vh;
  background: url(/public/assets/images/showcase.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.dark-tint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#showcase-section .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

#showcase-section .words {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 5rem;
  font-weight: bolder;
}

#showcase-section .words .word {
  display: flex;
  flex-direction: row;
  gap: 0.3rem
}

#showcase-section .words .word span {
  cursor: pointer;
  transition: all 500ms;
  color: white;
}

#showcase-section .words .word span:hover {
  text-shadow: -10px 7px 2px rgba(177, 177, 177, 0.6);
  transform: translateX(10px) translateY(-10px);
}

#showcase-section .showcase-quote p {
  color: white;
  font-size: 1.2rem;
}

#showcase-section .showcase-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#showcase-section .showcase-buttons a {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: all 500ms;
}

#showcase-section .showcase-buttons a:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

#showcase-section .showcase-buttons button {
  border: none;
  color: #333;
  font-weight: bold;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 500ms all;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.5);
  border-radius: 10px;
  animation: pulse 5s infinite;
}

#showcase-section .showcase-button button:hover {
  transform: scale(1.05);
}

/* About us */

/* Trainers */
#about-section {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-section .trainers-heading {
  font-size: 3rem;
  animation: pulse 10s infinite;
}

#trainers-section {
  margin-top: 2.5rem;
  background-attachment: fixed;
}

#trainers-section .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

#trainers-section .trainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#trainers-section .trainer:nth-child(1) {
  animation: pulse 10s infinite;
}

#trainers-section .trainer:nth-child(2) {
  animation: pulse 10s infinite;
  animation-delay: 3s;
}

#trainers-section .trainer:nth-child(3) {
  animation: pulse 10s infinite;
  animation-delay: 6s;
}

#trainers-section .trainer img {
  width: 100%;
  height: auto;
}

#trainers-section .trainer p {
  font-weight: bold;
}

/* Location */
#location-section {
  min-height: 50vh;
  width: 100vw;
  padding: 2.5rem 0;
  margin-top: 5rem;
  background-color: var(--secondary-bg-color);
  color: white !important;
  background-attachment: fixed;
  overflow-x: hidden;
}

#location-section .container {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

#location-section .map {
  min-width: 50%;
  min-height: 100%;
  border: none;
  filter: grayscale(100%) invert(92%) contrast(1);
  transition: all 500ms;
}

#location-section .map:hover {
  min-width: 50%;
  min-height: 100%;
  border: none;
  filter: grayscale(0) invert(0) contrast(1);
}

#location-section .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#location-section .info h2 {
  margin-bottom: 2.5rem;
}

#location-section .workingHours {
  width: 100%;
}

#location-section .infoIcon {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

#location-section .workingHours li {
  display: flex;
  justify-content: space-between;
}

#about-section .quote {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 3rem;
  padding-top: 7.5rem;
  animation: pulse 10s infinite;
}

/* Prices */
#prices-section .container {
  width: 60%;
  padding: 2.5rem 0;
}

#prices-section .subscriptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#prices-section .subscriptions li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  transition: all 500ms;
}

#prices-section .subscriptions li:hover {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  transform: scale(1.05);
}

#prices-section .subscriptions li div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}


/* Contact */
#contact-section {
  padding: 6rem 0;
  background-color: var(--secondary-bg-color);

}

#contact-section .container {
  width: 60%;
}

#contact-section .contact {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#contact-section .contact p {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact-section .contact p span:nth-child(1) {
  animation: pulse 10s infinite;
  animation-delay: 5s;
  font-size: 2rem;
  color: white;
}

#contact-section .contact p span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bolder;
  animation: pulse 10s infinite;
}

#contact-section form {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.5);

}

#contact-section form p.success {
  font-weight: bold;
  padding: 1rem;
  width: 80%;
  background-color: var(--secondary-bg-color);
}

#contact-section form p.failed {
  font-weight: bold;
  padding: 1rem;
  width: 80%;
  background-color: rgb(129, 27, 27);
}

#contact-section form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contact-section form .form-group label {
  color: white;
}

.form-group input {
  width: 80%;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(126, 126, 126);
  transition: all 500ms;
}

.form-group input:focus {
  background-color: whitesmoke;
  transform: scale(1.05);
}

.form-group textarea {
  width: 80%;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(126, 126, 126);
  min-height: 10rem;
  transition: all 500ms;
}

.form-group textarea:focus {
  background-color: whitesmoke;
  transform: scale(1.05);
}

.form-group .input-rules {
  color: white;
}

.form-group input[type="submit"] {
  width: 80%;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: black;
  cursor: pointer;
  transition: all 500ms;
  -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.2);
}

.form-group input[type="submit"]:hover {
  transform: scale(1.05);
}


/* Footer */
#footer-section {
  padding-top: 2.5rem;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
}

#footer-section .container {
  width: 60%;
}

#footer-section .footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#footer-section .footer .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

#footer-section .footer .data p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#footer-section .footer .data p span:nth-child(1) {
  font-size: 1.2rem;
  color: var(--primary-color);
}

#footer-section .footer img {
  width: 15%;
}

#footer-section .copyright {
  width: 100%;
}

#footer-section .copyright p {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #111;
  width: 100%;
}

@media screen and (max-width: 900px) {
  #showcase-section .words {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 3rem;
    font-weight: bolder;
  }

  #location-section .container {
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  #location-section .map {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    border: none;
    margin-top: 0rem;
  }

  #location-section .map iframe {
    height: 20rem;
  }

  #location-section {
    padding: 2rem;
  }

  #contact-section .container {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  #showcase-section .words {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-size: 2rem;
    font-weight: bolder;
  }

  #showcase-section .showcase-buttons button {
    border: none;
    color: #333;
    font-weight: bold;
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: 500ms all;
    -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px 5px rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    animation: pulse 5s infinite;
  }

  #about-section .trainers-heading {
    font-size: 2rem;
    animation: pulse 10s infinite;
  }

  #trainers-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  #footer-section .footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  #footer-section .footer img {
    width: 50%;
  }

  #contact-section .container {
    width: 90%;
  }

  .form-group input {
    width: 90%;
  }

  .form-group textarea {
    width: 90%;
    min-height: 6rem;
  }

  .form-group input[type="submit"] {
    width: 90%;
  }

  #about-section .quote {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 7.5rem;
    animation: pulse 10s infinite;
  }
}


/* Keyframes */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.05);
  }

  30% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}